<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.monitorco">

    <!-- Permissões necessárias para acessar a internet e o estado da rede -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MonitorCO"
        tools:targetApi="31">

        <!-- Registra o Serviço MQTT -->
        <service android:name="org.eclipse.paho.android.service.MqttService"
            android:enabled="true"
            android:exported="false"/>

        <!-- Atividade de Splash (Tela de Introdução) -->
        <activity
            android:name="Splash"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MonitorCO">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
        </activity>

        <!-- Outras atividades -->
        <activity
            android:name="LoginActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".CadastroActivity"
            android:label="@string/app_name">
        </activity>

    </application>
</manifest>
